<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PhoneDatabase" connectionString="Data Source=.\DataBase\PhoneBookDB.db;" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultFoldereDb" value="DataBase"/>
    <add key="DefaultFileNameDb" value="PhoneBookDB.db"/>
    <add key="UserSourceDb" value=""/>
    <add key="PasswordDb" value=""/>
  </appSettings>
</configuration>